
<nav class="navbar navbar-expand-lg navbar-light"
	xmlns:th="http://www.thymeleaf.org">
	<ul class="navbar-nav offset-3">
		<img src="./logo2.png"/>
		<a class="nav-item nav-link mt-4 mr-4 ml-4" th:href="@{/}" style="font-size: x-large;">Home</a>
		<a class="nav-item nav-link mt-4 mr-4" th:href="@{/}" style="font-size: x-large;">About Us</a>
		<a class="nav-item nav-link mt-4 mr-4" th:href="@{/}" style="font-size: x-large;">Pricing</a>
		<a class="nav-item nav-link mt-4 mr-4" th:if="${#request.userPrincipal == null}" th:href="@{/welcomeAuthenticated}" style="font-size: x-large;">Sign in</a>
		<a class="nav-item nav-link mt-4 mr-4" th:if="${#request.userPrincipal != null}" th:href="@{/logout}" style="font-size: x-large;">Logout</a>
	</ul>
</nav>