<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Social Media Login Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="custom.css">
    <style>
        .jumbotron {
            position: relative;
            text-align: center;
            text-shadow: rgba(0, 0, 0, 0.4) 0px 1px 3px, rgba(0, 0, 0, 0.075) 0px 0px 30px;
            box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 7px inset, rgba(0, 0, 0, 0.2) 0px -3px 7px inset;
            padding: 266px 26px;
            background-repeat: no-repeat;
            background-image: url(/../banner_to_be.jpg);
            background-size: cover;
        }

        hr {
            border: none;
            border-left: 1px solid hsla(200, 10%, 50%, 100);
            height: 23vh;
            width: 1px;
        }

        .customBtn {
            color: rgb(255, 255, 255);
            width: 280px;
            text-align: center;
            margin-top: 15px;
        }

        .width42px {
            width: 42px;
        }
    </style>
</head>
<body style="font-family: initial;">
<div>
    <nav class="navbar navbar-expand-lg navbar-light"
         xmlns:th="http://www.thymeleaf.org">
        <ul class="navbar-nav offset-3">
            <img src="/../logo2.png"/>
            <a class="nav-item nav-link mt-4 mr-4 ml-4" th:href="@{/}" style="font-size: x-large;">Home</a>
            <a class="nav-item nav-link mt-4 mr-4" th:href="@{/}" style="font-size: x-large;">About Us</a>
            <a class="nav-item nav-link mt-4 mr-4" th:href="@{/}" style="font-size: x-large;">Pricing</a>
            <a class="nav-item nav-link mt-4 mr-4" th:if="${#request.userPrincipal == null}" th:href="@{/login}" style="font-size: x-large;">Sign in</a>
            <a class="nav-item nav-link mt-4 mr-4" href="#" style="font-size: x-large;">My Profile</a>
            <a class="nav-item nav-link mt-4 mr-4" th:if="${#request.userPrincipal != null}" th:href="@{/logout}" style="font-size: x-large;">Logout</a>
        </ul>
    </nav>
</div>
<div class="jumbotron jumbotron-fluid">
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-5" th:object="${user}">
            <div class="card" >
                <div class="row ">
                    <div style="display: flex;flex-direction: column;margin: 0 auto;">
                        <img th:src="${user.userImage}+'?height=250&width=250'">
                    </div>
                    <div class="col-md-8">
                        <div class="card-block" style="padding-left:30px;">
                            <br>
                            <a>
                                <h5 class="card-title" th:text="${user.FirstName} + ' ' + ${user.LastName} " ></h5>
                            </a>
                            <p><b>Email:</b></p>
                            <p th:text="${user.email}"></p>
                            <p><b>Interests:</b></p>
                            <p th:text="${user.interest}"></p>
                            <p><b>Current Location:</b></p>
                            <p th:text="${user.currentLocation}"></p>
                            <p><b>Education:</b></p>
                            <p th:text="${user.education}"></p>
                            <p><b>Next Destination:</b></p>
                            <p th:text="${user.nextDestination}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-5 offset-2" style="padding-top:125px;">
            <h3 class="text-center mb-5">Edit your Profile</h3>
            <div class="row">
                <div class="form-group">
                    <label>First Name:</label>
                    <input type="text" class="form-control"><BR/>
                </div>
                <div class="form-group ml-2">
                    <label>Last Name:</label>
                    <input type="text" class="form-control"><BR/>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label>Email:</label>
                    <input type="text" class="form-control"><BR/>
                </div>
                <div class="form-group ml-2">
                    <label>Interests:</label>
                    <input type="text" class="form-control"><BR/>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label>Current Location:</label>
                    <input type="text" class="form-control"><BR/>
                </div>
                <div class="form-group ml-2">
                    <label>Next Destination:</label>
                    <input type="text" class="form-control"><BR/>
                </div>
            </div>
            <button class="btn btn-outline-danger offset-4">Submit</button>
        </div>
    </div>
</div>
<div class="mt-1" style="height: 70px; background-color:gray;">

</div>
</body>
</html>