<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Social Media Login Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="custom.css">
</head>
<body>
<div>
    <nav class="navbar navbar-expand-lg navbar-light"
         xmlns:th="http://www.thymeleaf.org">
        <ul class="navbar-nav offset-3">
            <img src="./logo2.png"/>
            <a class="nav-item nav-link mt-4 mr-4 ml-4" th:href="@{/}" style="font-size: x-large;">Home</a>
            <a class="nav-item nav-link mt-4 mr-4" th:href="@{/}" style="font-size: x-large;">About Us</a>
            <a class="nav-item nav-link mt-4 mr-4" th:href="@{/}" style="font-size: x-large;">Pricing</a>
            <a class="nav-item nav-link mt-4 mr-4" th:if="${#request.userPrincipal == null}" th:href="@{/login}" style="font-size: x-large;">Sign in</a>
            <a class="nav-item nav-link mt-4 mr-4" th:href="@{'/userProfile' +'/' + ${registeredUser.userId}}" style="font-size: x-large;">My Profile</a>
            <a class="nav-item nav-link mt-4 mr-4" th:if="${#request.userPrincipal != null}" th:href="@{/logout}" style="font-size: x-large;">Logout</a>
        </ul>
    </nav>
</div>
<div class="jumbotron jumbotron-fluid">
</div>
<div class="container">

    <div class="col-sm-12">
        <h1 style="text-align:center">Recommended roommates for you</h1>
    </div>
    <div class="card-deck mt-5">
     <div class="col-sm-4" th:each="user:${users}">
            <div class="card" >
                <div class="row ">
                    <div style="display: flex;flex-direction: column;margin: 0 auto;">
                        <img th:src="${user.userImage}+'?height=250&width=250'">
                    </div>
                    <div>
                        <div class="card-block" style="padding-left:30px;">
                            <br>
                            <a th:href="@{'/userProfile' +'/' + ${user.userId}}" style="text-decoration: none;color: gray;">
                                <h5 class="card-title" th:text="${user.FirstName} + ' ' + ${user.LastName} " style="text-align: center"></h5>
                            </a>
                            <p><b>Current Location:</b></p>
                            <p th:text="${user.currentLocation}"></p>
                            <p><b>Education:</b></p>
                            <p th:text="${user.education}"></p>
                            <a th:href="@{'/contact' +'/' + ${user.userId}}" style="text-decoration: none;">
                                <button class="btn btn-danger btn-block mt-5 ml-5 mb-5">Contact me</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </div>
    <div class="mb-5">
        <h2 style="text-align:center">Or you can always search your roommate</h2>
        <h4 class="text-center">just you need to enter your next destination</h4>
        <form th:action="@{/welcomeAuthenticated}" method="get" class="row offset-3 mt-4">
            <input class="form-control col-lg-8" type="text" placeholder="Enter Location..." aria-label="Search" name="keyword">
            <button type="submit" class="btn btn-outline-danger ml-2">GO</button>
        </form>
        <div class="card-deck mt-5">
            <div class="col-sm-4" th:each="user:${searchedUsers}">
                <div class="card" >
                    <div class="row ">
                        <div style="display: flex;flex-direction: column;margin: 0 auto;">
                            <img th:src="${user.userImage}+'?height=250&width=250'">
                        </div>
                        <div>
                            <div class="card-block" style="padding-left:30px;">
                                <br>
                                <a th:href="@{'/userProfile' +'/' + ${user.userId}}" style="text-decoration: none;color: gray;">
                                    <h5 class="card-title" th:text="${user.FirstName} + ' ' + ${user.LastName} " style="text-align: center"></h5>
                                </a>
                                <p><b>Current Location:</b></p>
                                <p th:text="${user.currentLocation}"></p>
                                <p><b>Education:</b></p>
                                <p th:text="${user.education}"></p>
                                <a th:href="@{'/contact' +'/' + ${user.userId}}" style="text-decoration: none;">
                                    <button class="btn btn-danger btn-block mt-5 ml-5 mb-5">Contact me</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>
<div class="mt-1" style="height: 70px; background-color:gray;">

</div>
</body>
</html>