<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
	  	<title>Social Media Login Example</title>
	  	<meta charset="utf-8">
	  	<meta name="viewport" content="width=device-width, initial-scale=1">
	  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.css">
	  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	  	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	  	<link rel="stylesheet" href="custom.css">
	</head>
	<body>
        <div>
            <th:block th:include="/_menu"></th:block>
        </div>
		<div class="jumbotron jumbotron-fluid">
		</div>
		<div class="container">
			<div class="col-xs-12 mb-5">
				<h2 class="text-center">What will you get with <b>Find a Roommate</b> services</h2>
			</div>
			<div class="row col-sm-12 mt-5 offset-1">
				<div class="col-sm-3 text-center mr-5">
					<img src="./people.png" style="width: 30%;">
					<p style="font-size:larger;">With our application you can search people and find roommate for the next destination you want to visit. </p>
				</div>
				<div class="col-sm-3 text-center mr-5">
					<img src="./connect.png" style="width: 30%;">
					<p style="font-size:larger;">Register to our application and we can find you a roommate! This looks ridiculous to you? Join us and you will find out what we are talking about. </p>
				</div>
				<div class="col-sm-3 text-center">
					<img src="./services.png" style="width: 30%;">
					<p style="font-size:larger;">If you want to have more chances for recommended people you can subscribe to our service and enjoy more favours! </p>
				</div>
			</div>

			<div class="mt-5 mb-5">
				<hr>
			</div>

			<div class="row">
				<div class="col-sm-6">
					<img style="width: inherit;" src="./friends.jpg"/>
				</div>
				<div class="col-sm-5">
					<p style="font-size:larger;">With our application you can search people and find roommate for the next destination you want to visit.Register to our application and we can find you a roommate! </p>
					<div class="row">
						<a class="btn btn-danger btn-lg" th:href="@{/welcomeAuthenticated}"> CLICK AND FIND YOUR ROOMMATE</a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-5">
					<p style="font-size:larger;">This looks ridiculous to you? Join us and you will find out what we are talking about.If you want to have more chances for recommended people you can subscribe to our service and enjoy more favours! </p>
				</div>
				<div class="col-sm-6" style="margin-left: 64px;">
					<img style="width: inherit;" src="./person_device.jpg"/>
				</div>
			</div>
		</div>
		<div class="mt-1" style="height: 70px; background-color:gray;">

		</div>
	</body>
</html>