<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Social Media Login Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="custom.css">
</head>
<body>
<div>
    <nav class="navbar navbar-expand-sm navbar-dark" style="background: #FFAF42!important"
         xmlns:th="http://www.thymeleaf.org" th:object="${registeredUser}">
        <ul class="navbar-nav">
            <li class="nav-item active"><a class="nav-link" th:href="@{/welcomeAuthenticated}">Home</a>
            </li>
            <li class="nav-item active"><a class="nav-link" th:href="@{/welcomeAuthenticated}">About Us</a></li>
            <li class="nav-item active"><a class="nav-link" th:href="@{/welcomeAuthenticated}">Pricing</a></li>
            <li class="nav-item active"><a class="nav-link" th:href="@{'/userProfile' +'/' + ${registeredUser.userId}}">My Profile</a></li>
            <li class="nav-item active"><a class="nav-link"
                th:if="${#request.userPrincipal != null}" th:href="@{/logout}">Logout</a>
            </li>
        </ul>
    </nav>
</div>
<div class="jumbotron jumbotron-fluid">
</div>
<div class="container">

    <div class="col-sm-12">
        <h1 style="text-align:center">Search for your roommate</h1>
            <form th:action="@{/welcomeAuthenticated}" method="get" class="row offset-3 mt-4">
                <input class="form-control col-lg-8" type="text" placeholder="Enter Your Roommate Name" aria-label="Search" name="keyword">
                <button type="submit" class="btn btn-secondary ml-2">GO</button>
            </form>
    </div>
    <div class="card-deck mt-5">
     <div class="col-sm-4" th:each="user:${users}">
            <div class="card" >
                <div class="row ">
                    <div style="display: flex;flex-direction: column;margin: 0 auto;">
                        <img th:src="${user.userImage}+'?height=250&width=250'">
                    </div>
                    <div class="col-md-8">
                        <div class="card-block">
                            <br>
                            <a th:href="@{'/userProfile' +'/' + ${user.userId}}">
                                <h5 class="card-title" th:text="${user.FirstName} + ' ' + ${user.LastName} " style="text-align: center"></h5>
                            </a>
                            <a th:href="@{'/contact' +'/' + ${user.userId}}">
                                <button class="btn btn-secondary btn-lg btn-block mt-5">Contact me</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </div>

</div>
</body>
</html>